<header class='top-page-header'>
  <div class="header-top-nav">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to '>>商品出品', new_item_path, class:"new-item-link" %>
    <% end %>
  </div>
  <div class="header-container">
    <div class="header-left">
      <%= link_to image_tag('/images/rco_logo.svg', class:"rco-logo"), root_path %>
    </div>
    <div class="header-right">
      <%= search_form_for @q, url: search_path, class:"search-form", method: :get do |f| %>
        <%= f.text_field :title_or_artist_cont, class:"input-box", placeholder:"アルバムタイトル、アーティスト名などで検索" %>
        <%= f.submit value:"", class:"search-button" %>
      <% end %>
      <div class="cart">
        <% if user_signed_in? && Cart.exists?(session[:cart_id]) %>
          <%= link_to "/carts/#{session[:cart_id]}" do %>
            <%= image_tag "/images/icon_crt.svg", class:"cart-icon" %>
          <% end %>
        <% elsif user_signed_in? && !Cart.nil? %>
          <%= link_to cart_blank_path do %>
            <%= image_tag "/images/icon_crt.svg", class:"cart-icon" %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <%= image_tag "/images/icon_crt.svg", class:"cart-icon" %>
          <% end %>
        <% end %>
      </div>
      <div class="login-logout">
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        <% else %>
          <%= link_to image_tag("/images/btn_login.png", class:"login"), new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="menu-nav">
    <div class="menu-left">
    </div>
    <div class="menu-right">
      <% if user_signed_in? %>
        こんにちは、<%= current_user.nickname %>さん
      <% end %>
    </div>
  </div>
</header>