<%= render "shared/second-header"%>
<div class="order-wrapper">
  <div class="order-container"> 
    <div class="order-head-messages">
      <h1>注文内容の確認</h1>
      <p>カートには以下の商品が入っています。ご確認ください。</p>
    </div>
    <%# 注文商品を一覧表示 %>
    <div class="items-table">
      <table border="1" width="700px;">
        <thead>
          <tr>
            <th class="order-table-head" style="width:35%;" colspan="2">商品名</th>
            <th class="order-table-head" style="width:10%;">販売価格</th>
            <th class="order-table-head" style="width:5%;">数量</th>
            <th class="order-table-head" style="width:10%;">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td class="order-image">
                <%= image_tag cart_item.item.image, class:"order-item-image" %>
              </td>
              <td class="order-item">
                <%= cart_item.item.title%>/
                <%= cart_item.item.artist %>
              </td>
              <td class="order-price">
                <%= cart_item.item.price %>円
              </td>
              <td class="order-quantity">
                <%= cart_item.quantity %>
              </td>
              <td class="order-item-total-price">
                <span class="item-total-price"><%= cart_item_price_calc(cart_item) %></span>円(税込)
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">合計金額</td>
            <td id="cart-total-price"></td>
            <td>円</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="order-form">
      <%= form_with(url: order_path, id: "charge-form", local: true) do |f| %>
        <div class='credit-card-form'>
        <h1 class="order-form-message">カード情報を入力する</h1>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">カード情報</label>
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_field :number, class:"card-input", id:"card-number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">有効期限</label>
              <span class="indispensable">必須</span>
            </div>
            <div class='input-expiration-date-wrap'>
              <%= f.text_field :exp_month, class:"input-expiration-date", id:"card-exp-month", placeholder:"例)3" %>
              <p>月</p>
              <%= f.text_field :exp_year, class:"input-expiration-date", id:"card-exp-year", placeholder:"例)23" %>
              <p>年</p>
            </div>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">セキュリティコード</label>
              <span class="indispensable">必須</span>
            </div> 
            <%= f.text_field :cvc, class:"card-input", id:"card-cvc", placeholder:"CVC", maxlength:"4" %>
          </div>
        </div> 



  <%# <script
    type="text/javascript"
    src="https://checkout.pay.jp/"
    class="payjp-button"
    data-key="pk_test_0383a1b8f91e8a6e3ea0e2a9"
    data-submit-text="トークンを作成する"
    data-partial="true">
  </script> %>

  <h1 class="order-form-message">住所を入力する</h1>

  <%#= render 'shared/error_messages', model: f.object %> 

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">名字</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :last_name, class:"input-default", id:"last-name", autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">名前</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :first_name, class:"input-default", id:"first-name" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">名字（カナ）</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :last_name_kana, class:"input-default", id:"last-name-kana" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">名前（カナ）</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :first_name_kana, class:"input-default", id:"first-name-kana" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">郵便番号</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :postal_code, class:"input-default", id:"postal-code" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">都道府県</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"hash-select"})%>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">市町村</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :city, class:"input-default", id:"city" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">番地</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :block, class:"input-default", id:"block" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">建物名</label>
      </div>
      <%= f.text_field :building, class:"input-default", id:"building" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">電話番号</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :phone_number, class:"input-default", id:"phone-number" %>
    </div>
    <div class='login-btn'>
      <%= f.submit "注文を確定する" ,class:"order-button" %>
    </div>
    <% end %>
    </div>
    
  </div>
</div>