<%= render "shared/header" %>
<div class="main-wrapper">
  <div class="item-wrapper">
    <% @items.each do |item| %>
      <div class="item">
        <%= link_to item_path(item), class:"item-path" do %>
          <div class="item-image-content">
            <%= image_tag item.image, class:"item-image" %>
          </div>
        <% end %>
          <div class="item-format">
            <%= item.format.name %>
          </div>
          <div class="item-artist">
            <%= item.artist %>
          </div>
        <%= link_to item_path(item), class:"item-path" do %>
          <div class="item-title">
            <%= item.title %>
          </div>
          <div class="item-price">
            <%= item.price %>円(税込み)
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%# <%= render "shared/footer" %>