<!DOCTYPE html>
<html>
  <head>
    <title>RcoShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="postCode.js"></script>
    <script src="https://js.pay.jp/" , type="text/javascript"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
<%# , 'data-turbolinks-track': 'reload'  %>