<!DOCTYPE html>
<html>
  <head>
    <title>RcoShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
    <script src="https://js.pay.jp/" , type="text/javascript"></script>
    <script type="text/javascript" src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>